.bn-container[data-color-scheme] {
  --bn-colors-tooltip-background: #00000000;

  letter-spacing: -.05em;
}

.bn-container[data-color-scheme] .bn-resize-handle {
  max-height: 48px;
  border: .5px solid rgba(255, 255, 255, 0.3);
}

.bn-container[data-color-scheme] .bn-visual-media {
  border-radius: 12px;
}

.bn-block, .bn-block-content {
  padding-inline: 12px;
}

@media (max-width: 640px) {
  .bn-container[data-color-scheme], .bn-editor {
    padding-inline: 0px;
  }

  .bn-container[data-color-scheme] .bn-side-menu {
    display: none;
  }

  .bn-container[data-color-scheme] .bn-block, .bn-container[data-color-scheme] .bn-block-content {
    padding-inline: 0px;
  }
}
